@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body font-normal;
  }
  main {
    @apply flex-sticky;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}

@layer components {
  .page {
    @apply flex flex-col min-h-screen;
  }

  .custom-container {
    @apply w-full mx-auto;
    max-width: calc(100% - 60px);
  }

  .base-transition {
    @apply transition duration-200 ease-in-out;
  }

  .text-transition {
    @apply hover:text-blue-600 dark:hover:text-blue-600;
  }

  .border-transition {
    @apply hover:border-blue-600 dark:hover:border-blue-600;
  }

  .bg-transition {
    @apply hover:bg-blue-600 dark:hover:bg-blue-600;
  }

  .img-transition {
    @apply hover:opacity-75;
  }

  .link-transition {
    background: linear-gradient(
        90deg,
        currentColor calc(100% / 3),
        transparent 0 calc(200% / 3),
        currentColor 0
      )
      var(--d, 0%) 100% /300% 4px no-repeat;
    transition: 0.5s;
    transition: 0.5s;
  }

  .link-transition:hover {
    --d: 100%;
  }

  .title-decorator::before {
    content: "";
    @apply absolute bottom-0 left-0 h-1 w-full bg-blue-600;
  }

  .swiper-container {
    @apply h-[900px];
  }
}
